/Biblioteca/.gradle/
/Biblioteca/build/
/Biblioteca/nbproject/private/
/Biblioteca/dist/
/Final/nbproject/private/
/Final/build/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Ejercicio3/nbproject/private/